
.app{
 font-family: sans-serif;
 text-align: center;
  
}

.product-container{
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  display: flex;
  width: 210px;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  
}

.image{
 width: 200px;
 height: 200px;
}

.pagination-cart{
  padding: 8px;
  /* margin: 8px; */
}
.n{
  padding: 8px;
  border: 1px solid black;
  margin: 3px;
  cursor: pointer;

}



.active{
  background-color: aquamarine;
}